*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body > header h1 {
    font-size:3.4em;
    text-align:center;
}

h2{
    text-align:center;
}

p{
    text-align:center;
}

nav ul{
    text-align:center;
}

body{
    background-color:lightblue;
}

