header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
    font-weight:bold;
    font-size:1em;
    padding:0.1em;
}

h1{
    text-align:center;
    text-decoration:underline;
}


h2{
    text-decoration:underline;
}

h3{
    text-decoration:underline;

}

nav{
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 2%;
        padding-left: 2%;
        
      }
    
  

nav ul{
    flex: 1;
    text-align: right;
    font-size:30px;
  }

  nav ul li{
    list-style: none;
    display: inline-table;
    padding: 0px 25px;
  }

  nav ul li a{
    color: #262728;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding:0.1em;
   text-transform:uppercase;
   letter-spacing:2.5px;
   height:800px;
min-height:500px;
  }
  nav ul li a:hover{
    color: lightgreen;
    transition: .3s;
  }

table, tr, td, th {
    border: 1px Dashed #333333;
    padding: 1em;
 }
 #skills {
    width: 50%;
    margin: 0 auto;
    float:left;

}

#skills > li {
    width: 100%;
    background-color: #333;
    border-radius: 20px;
    margin-bottom: 1em;
    height: 40px;
    display: flex;
    overflow: hidden;
}

#skills > li > span {
    display: flex;
    align-items: center;
    background-color:lightgreen;
    content: "";
    padding: 0 1em;
    color: white;
}
footer {
    width: 100%;
    border:3px black solid;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}      


